body {
  font-family: "EB Garamond", serif;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

#nav-section {
  width: 100%;
  height: 130px;
  background-color: rgba(16, 144, 216, 0.1);
}

#navbar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 42px;
  align-items: center;
}

#blog-btn {
  height: 48px;
  width: 120px;
  color: white;
  border: none;
  background: #1090d8;
  border-radius: 8px;
}

#navbar h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: rgba(17, 17, 17, 0.8);
}
#navbar h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: rgba(17, 17, 17, 0.6);
}
.geometry-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.main-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 24px;
}
.area-calculation {
  border: 1px solid rgba(128, 128, 128, 0.121);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  background-color: #f1f1f1;
  box-shadow: -4px -4px 10px rgba(128, 128, 128, 0.342);
}
.geometry-item {
  box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.342);
  padding: 44px;
  border: 1px solid rgba(128, 128, 128, 0.121);
  border-radius: 10px;
}
.geometry-section h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-top: 49px;
  color: #414141;
}
img {
  width: 100%;
  height: 194px;
}
input {
  padding-left: 5px;
  background-color: #f1f1f1;
  border: none;
}

/* ************media Queries *************** */
@media screen and (max-width: 1200px) {
  .geometry-section {
    grid-template-columns: 1fr 1fr;
  }
  .main-container {
    grid-template-columns: 1fr;
  }
  .area-calculation {
    height: 200px;
  }
}

@media screen and (max-width: 572px) {
  .geometry-section {
    grid-template-columns: 1fr;
  }
  #navbar {
    padding: 0px 20px;
  }
  #navbar h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
  }
  #navbar h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  #blog-btn {
    height: 30px;
    width: 80px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 290px) {
  .geometry-item {
    padding: 15px;
  }
  img {
    height: 120px;
  }
}

/* Include Output Area */


.include-value-area {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  font-size: 14px;
  display: none;
}
.include-value-area button {
  font-size: 10px;
  background-color: lightblue;
  border-radius: 5px;
  border: none;
  height: 25px;
}

